.navbar h3 {
  margin-top: 30px;
  margin-left: 10px;
  color: rgb(61, 61, 61);
}

.side-bar {
  margin-top: 110px;
  margin-left: 2%;
  width: 23%;
  background-color: darkorange;
  border-radius: 8px;
  height: 500px;
  position: fixed;
  box-shadow: 0 6px 20px 0 rgba(196, 196, 196, 0.19);
}

.side-bar li {
  padding: 10px 10px 10px 10px;
  margin-top: 15px;
  margin-right: 40px;
  font-weight: 600;
  font-size: large;
  border-radius: 8px;
}

.side-bar li:hover {
  background-color: white;
  cursor: pointer;
}

.side-bar li.active {
  background-color: white;
}
