.container{
    margin-top: 9%;
    margin-left: 18%;
    margin-right: 18%;
}
.container input{
    width: 850px;
    height:45px;
    border-color: rgb(182, 182, 182);
    border-width: 1px;
    border-radius: 4px;
}
::placeholder{
    padding-left: 20px;
    font-weight: 500;
    font-size:medium;
}

.dispitems h4{
    font-weight: 1000;
    font-size: larger;
    margin-left: 20px;
    color: rgb(77, 77, 77);
}
.dispitems {
    margin-top: 5%;
}
.dispitems img{
    height: 120px;
    padding-left: 20px;
    padding-right: 10px;
}
.foods-container{
    height: 400px;
    width: 220px;
    padding: 10px;
    background-color: rgb(236, 236, 236);
    margin: 10px;
    box-shadow: 0 3px 0 0 rgba(24, 24, 24, 0.19);
    border-radius: 8px;
    display: inline-flex;  
}
.searchitems{
    margin-left: 20px;
    
}
.popcuisines{
    margin-top: 5%;
    color: rgb(65, 65, 65);
}
.popcuisines a{
    text-decoration: none;
}
.popcuisines h4{
    font-weight: 600;
    padding-left: 10px;
}
.foods-container img{
    height: 90px;
    width: 90px;
    margin-top: 10px;
    margin-left: 60px;
    align-items: center;
    border-radius: 8%;
    box-shadow: 6px 4px 6px 4px rgba(0, 0, 0, 0.19);
}
.foods-container button{
    margin-left: 30px;
    border-style: none;
    height: 30px;
    width: 170px;
    background-color: darkorange;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    cursor:pointer;
    
    
}
.foods-container span{
    font-weight: 700;
}
.foods-container{
    height: 280px;
    width: 220px;
    padding: 10px;
    background-color: rgb(236, 236, 236);
    margin: 10px;
    box-shadow: 0 3px 0 0 rgba(24, 24, 24, 0.19);
    border-radius: 8px;
    display: inline-flex;  
}
.food-container button:hover{
    font-size: 14px;
    font-weight: 900;
}